<input class="skylanders-filter">

<table class="counts">
  <tr>
    <td>
      <h3>{{ownCount}}</h3>
    </td>
    <td>
      <h3>{{totalCount}}</h3>
    </td>
  </tr>
  <tr>
    <td>Own</td>
    <td>Total</td>
  </tr>
</table>

<table class="skylanders tablesorter" width="100%">
  <thead>
  <tr>
    <th>Element</th>
    <th>Image</th>
    <th>Name</th>
    <th>Compatibility</th>
    <th>Roles</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each characters}}
    <tr data-own="{{own}}" data-id="{{_id}}">
      <td><img src="/images/element-{{element}}.png"/></td>
      <td><img width="100" height="100" src="/character/{{_id}}/thumbnail"></td>
      <td>{{name}}</td>
      <td align="right">
        {{#if compatibility.spyrosAdventure}}
          <img src="/images/spyrosAdventureSmall.png">
        {{/if}}
        {{#if compatibility.giants}}
          <img src="/images/giantsSmall.png">
        {{/if}}
        {{#if compatibility.swapForce}}
          <img src="/images/swapForceSmall.png">
        {{/if}}
        {{#if compatibility.trapTeam}}
          <img src="/images/trapTeamSmall.png">
        {{/if}}
        {{#if compatibility.superchargers}}
          <img src="/images/superchargersSmall.png">
        {{/if}}
      </td>
      <td>
        <ul>
          {{#if trapMaster}}
            <li>Trap Master</li>
          {{/if}}
          {{#if mini}}
            <li>Mini</li>
          {{/if}}
          {{#if vehicle}}
            <li>Vehicle: {{vehicleType}}: {{vehicleOwner}}</li>
          {{/if}}
        </ul>
      </td>
      <td>
        <button class="toggle-own">
          {{#if own}}
            Disown
          {{else}}
            Own
          {{/if}}
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>